In [150]:
import sqlite3
db =sqlite3.connect('base20.db')
cr= db.cursor()
db.commit()

In [90]:
ques1= cr.execute("SELECT bookname from book1000 WHERE bookname like '%Mr%' and rate >= 3")
#ques1.fetchall()

In [91]:
ques2= cr.execute("SELECT bookname from book1000 WHERE price >20 and rate >= 3")
ques2.fetchall

In [92]:
ques3= cr.execute("SELECT bookname,rate from book1000 WHERE rate != 3")
#ques3.fetchall()

In [93]:
ques4= cr.execute("SELECT bookname from book1000 WHERE (rate != 5  and rate !=2) and (price BETWEEN 10 and 50 )")
#ques4.fetchall()
#len(ques4.fetchall())

In [94]:
ques5= cr.execute("SELECT bookname , price ,rate FROM book1000 order by price DESC LIMIT 5 ")
#ques5.fetchall()

In [95]:
ques6= cr.execute("SELECT bookname FROM book1000 order by rate desc , price ASC limit 30")
#ques6.fetchall()[20:]

In [149]:
ques7
#cr.execute("insert into categoriess (category) VALUES('Suspens')")
#cr.execute("insert into book1000 (bookid,bookname,price,rate) VALUES('1001','AroundEarth','45','2')")
#cr.execute("insert into book1000 (bookid,bookname,price,rate) VALUES (1002,'worldend',45.5,3)")
#cr.execute("insert into book1000 (bookid,bookname,price,rate) VALUES (1003,'America',44,4)")
#cr.execute("insert into book1000 (bookid,bookname,price,rate) VALUES (1004,'catchme',49.5,3)")
#cr.execute("insert into book1000 (bookid,bookname,price,rate) VALUES (1005,'harstreet',40,1)")
#db.commit()

In [ ]:
ques8= cr.execute("UPDATE book1000 SET rate = '3' WHERE price <20")

In [ ]:
ques9 = cr.execute("delete from book1000 where  price > 50 and rate <= 2")
#ques9

In [ ]:
ques10 = cr.execute("SELECT count(bookname),bookname FROM book1000 where bookname like '%Secret%' and price BETWEEN 10 and 25")
#ques10.fetchall()

In [135]:
ques11 = cr.execute("SELECT max(price)as price ,bookname FROM book1000 where rate = 5 ")
#ques11.fetchall()

In [136]:
ques12 = cr.execute("SELECT min(price) as price ,bookname FROM book1000 where rate = 5 ")
#ques12.fetchall()

In [137]:
ques13 = cr.execute("SELECT avg(price) as averag  FROM book1000 where rate = 5")
#ques13.fetchall()

In [138]:
ques14 = cr.execute("SELECT sum(price) FROM book1000 where rate = 2 and price BETWEEN 10 and 40")
#ques14.fetchall()

In [139]:
ques15 = cr.execute("select book1000.bookname, book1000.price ,book1000.rate ,categoriess.category from book1000 INNER JOIN categoriess on categoriess.bookid  = book1000.bookid ")
#ques15.fetchall()

In [140]:
ques16 = cr.execute("SELECT sum(price) FROM book1000 where rate = 2 and price BETWEEN 10 and 40")
#ques16.fetchall()

In [141]:
ques17a1 = cr.execute("SELECT count(price) from book1000 WHERE rate = 1 and price BETWEEN 20 and 30")
#ques17a1.fetchall()

In [142]:
ques17a2 = cr.execute("SELECT count(price) from book1000 WHERE rate = 2 and price BETWEEN 20 and 30")
#ques17a2.fetchall()

In [143]:
ques17a3 = cr.execute("SELECT count(price) from book1000 WHERE rate = 3 and price BETWEEN 20 and 30")
#ques17a3.fetchall()

In [144]:
ques17a4 = cr.execute("SELECT count(price) from book1000 WHERE rate = 4 and price BETWEEN 20 and 30")
#ques17a4.fetchall()

In [148]:
ques17a5 = cr.execute("SELECT count(price) from book1000 WHERE rate = 5 and price BETWEEN 20 and 30")
#ques17a5.fetchall()

In [ ]:
ques18 = cr.execute("SELECT catname from cat")
g = ques18.fetchall()
a = []
for i in g:
    ques18.fetchall()
    ques17c5 = cr.execute(f"SELECT count(category) from categoriess WHERE category ='{i[0]}' ")
    print(i[0],' has ',ques17c5.fetchall()[0][0],' books')
#ques18

In [260]:
ques19 = cr.execute("SELECT bookname from book1000 INNER JOIN categoriess on categoriess.bookid=book1000.bookid WHERE category = 'Music'")
#ques19.fetchall()